<!-- HIDDEN PREHEADER TEXT -->
<div
	style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
	Estamos muito felizes em ter você aqui! Prepare-se para mergulhar em sua nova conta.</div>
<table border="0" width="100%" cellspacing="0" cellpadding="0">
	<!-- LOGO -->
	<tbody>
		<tr>
			<td align="center" bgcolor="#FFA73B">
				<table style="max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td style="padding: 40px 10px 40px 10px;" align="center" valign="top"> </td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px 10px 0px 10px;" align="center" bgcolor="#FFA73B">
				<table style="max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;"
								align="center" valign="top" bgcolor="#ffffff">
								<h1 style="font-size: 48px; font-weight: 400; margin: 2;">Bem Vindo!</h1>
								<img style="display: block; border: 0px;"
									src=" https://img.icons8.com/clouds/100/000000/handshake.png" width="125"
									height="120" />
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px 10px 0px 10px;" align="center" bgcolor="#f4f4f4">
				<table style="max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td style="padding: 20px 30px 40px; color: #666666; font-family: Lato, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px; width: 538px;"
								align="left" bgcolor="#ffffff">
								<p style="margin: 0;">Estamos entusiasmados por você começar. Primeiro, você precisa
									confirmar sua conta. Basta pressionar o botão abaixo.</p>
							</td>
						</tr>
						<tr>
							<td style="width: 598px;" align="left" bgcolor="#ffffff">
								<table border="0" width="100%" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td style="padding: 20px 30px 60px 30px;" align="center" bgcolor="#ffffff">
												<table border="0" cellspacing="0" cellpadding="0">
													<tbody>
														<tr>
															<td style="border-radius: 3px;" align="center"
																bgcolor="#FFA73B"><a
																	style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #FFA73B; display: inline-block;"
																	target="_blank" rel="noopener"																	
																	th:href="@{${'http://' + buttonValidy}}">Confirmar Conta</a></td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<!-- COPY -->
						<tr>
							<td style="padding: 0px 30px; color: #666666; font-family: Lato, Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px; width: 538px;"
								align="left" bgcolor="#ffffff">
								<p style="margin: 0;">Ayam Stone</p>
							</td>
						</tr>
						<!-- COPY 
						<tr>
							<td bgcolor="#ffffff" align="left"
								style="padding: 20px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
								<p style="margin: 0;">
									<a href="#" target="_blank" style="color: #FFA73B;" th:utext="${buttonValidy}"></a>
								</p>
							</td>
						</tr>-->
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding: 0px 10px 0px 10px;" align="center" bgcolor="#f4f4f4">
				<table style="max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
					<tbody>
						<tr>
							<td style="padding: 0px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;"
								align="left" bgcolor="#f4f4f4"><br />
								<p style="margin: 0;">Se esses e-mails forem irritantes, sinta-se à vontade para
									cancelar a inscrição.</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>